<html>
    <head>
        <title>Python DWT Hello World</title>
   <script type="text/javascript" src="Resources/dynamsoft.webtwain.initiate.js"> </script>
			<script type="text/javascript" src="Resources/dynamsoft.webtwain.config.js"> </script>
    </head>
    <body>
        <div id="dwtcontrolContainer"></div>
		<input type="button" value="Acquire" onclick="AcquireImage();" />

		<!--Custom script goes here-->
		 <script type="text/javascript">
			Dynamsoft.WebTwainEnv.RegisterEvent('OnWebTwainReady', Dynamsoft_OnReady); // Register OnWebTwainReady event. This event fires as soon as Dynamic Web TWAIN is initialized and ready to be used

        var DWObject;

        function Dynamsoft_OnReady() {
            DWObject = Dynamsoft.WebTwainEnv.GetWebTwain('dwtcontrolContainer'); // Get the Dynamic Web TWAIN object that is embeded in the div with id 'dwtcontrolContainer'
}
            function AcquireImage(){
            DWObject.IfShowUI = false;
            DWObject.SelectSource();
            DWObject.OpenSource();
            DWObject.AcquireImage();
            }
		 </script> 
		
    </body>
</html>
